<a href="https://colab.research.google.com/github/Tejas21-netize/EDSgithub.io/blob/main/202401030002_CodeTantra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practical 1
Lab Assignment:1

In [ ]:
m = float (input())
v = float(input())
p = m*v
print('%.2f'%p,end='')
print("kgm/s")

55
69
3795.00kgm/s

In [ ]:
n = int(input())

if 1<=n<=9:
	print(n**2)
elif 10<=n<=99:
	print(f"{n**(1/2):.2f}")
elif 100<=n<=999:
	print(f"{n**(1/3):.2f}")
else:
	print("Invalid")

55
7.42

In [ ]:
# import the required package
from datetime import datetime
def calculate_age(birthdate):
	date_object  = datetime.strptime(birthdate,"%d-%m-%Y")
	today = datetime.today()
	age = today.year - date_object.year-((today.month,today.day)<(date_object.month,date_object.day))
	return age



def convert_salary_to_dollars(salary_in_rupees):
	# write your code here
	salary = salary_in_rupees*0.012
	return salary

birthdate = input()
salary_in_rupees = float(input())
age = calculate_age(birthdate)
salary_in_dollars = convert_salary_to_dollars(salary_in_rupees)
print(f"Age: {age}")
print(f"Salary in dollars: {salary_in_dollars:.2f}")

15-06-1991
4000
Age: 33
Salary in dollars: 48.00

In [ ]:
n = int(input())
num = str(n)
print(num[ : :-1])

5236
6325

In [ ]:
n = int(input())
i = 1
while i<=10:
	print(n,"x",i,"=",n*i)
	i = i+1

98
98 x 1 = 98
98 x 2 = 196
98 x 3 = 294
98 x 4 = 392
98 x 5 = 490
98 x 6 = 588
98 x 7 = 686
98 x 8 = 784
98 x 9 = 882
98 x 10 = 980

Practical 1
Lab Assignment:2

In [ ]:
n= int(input())
marks = list(map(int,input().split()))
if all(mark>=40 for mark in marks):
	ap =sum(marks)/n
	print(F"Aggregate Percentage: {ap:.2F}")
	if(ap>=75):
		print("Grade: Distinction")
	elif(ap>=60):
		print("Grade: First Division")
	elif(ap>=50):
		print("Grade: Second Division")
	elif(ap>=40):
		print("Grade: Third Division")
else:
	print("Fail")

66
89
Aggregate Percentage: 1.35

In [ ]:
def fib(n):
	if n<=0:
		return 0
	elif n==1:
		return 1
	else:
		return fib(n-1)+fib(n-2)

n=int(input("Enter terms for Fibonacci series: "))
for i in range (n):
      print(fib(i),end=" ")

Enter terms for Fibonacci series: 5
0 1 1 2 3

In [ ]:
#Type Content here...
a = int(input(""))
for i in range(1,a + 1):
	print('* '*i)

7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
a =int(input(""))
for i in range(1 , a+1):
	for j in range(1 , i+1):
		print(f"{j} ",end='')
	print()

12
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12

Practical 2
Lab Assignment 1

In [ ]:
l1=[]
while True:
	print("1. Add")
	print("2. Remove")
	print("3. Display")
	print("4. Quit")
	choice=int(input("Enter choice: "))
	if choice >4 :
		print("Invalid choice")
		continue
	if choice == 1:
		integer=int(input("Integer: "))
		l1.append(integer)
		print(f"List after adding: {l1}")
	elif choice == 2:
		if len(l1)!=0:
			integer=int(input("Integer: "))
			if integer in l1:
				l1.remove(integer)
				print(f"List after removing: {l1}")
			else:
				print("Element not found")
		else:
			print("List is empty",end="\n")
	elif choice == 3:
		if len(l1)!=0:
			print(l1)
		else:
			print("List is empty",end="\n")
	elif choice == 4:
		break

1. Add
2. Remove
3. Display
4. Quit
Invalid choice
1. Add
2. Remove
3. Display
4. Quit
Invalid choice
1. Add
2. Remove
3. Display
4. Quit
Invalid choice
1. Add
2. Remove
3. Display
4. Quit
Invalid choice
1. Add
2. Remove
3. Display
4. Quit
List is empty
1. Add
2. Remove
3. Display
4. Quit

In [ ]:
# 1. Create an empty dictionary and display it
my_dict = {}
print("Empty Dictionary:", my_dict)

# 2. Ask the user how many items to add, then input key-value pairs
size = int(input("Number of items: "))
for _ in range(size):
	key=input("key: ")
	value=input("value: ")
	my_dict[key]=value

# 3. Show the dictionary after adding items
print("Dictionary:", my_dict)

# 4. Update a key's value
key_to_update = input("Enter the key to update: ")
if key_to_update in my_dict:
	new_value=input("Enter the new value: ")
	my_dict[key_to_update]=new_value
	print("Value updated")
else:
	print("Key not found")


# 5. Retrieve and print a value using a key
key_to_access = input("Enter the key to retrieve: ")
if key_to_access in my_dict:
	print(f"Key: {key_to_access}",end=", ")
	print(f'Value: {my_dict[key_to_access]}')
else:
	print("Key not found")



# 6. Use `get()` to retrieve a value
key_to_get = input("Enter the key to get using the get() method: ")
if key_to_get in my_dict:
	print(f"Key: {key_to_get}",end=", ")
	value=my_dict.get(key_to_get)
	print(f"Value: {value}",end="\n")
else:
	print("Keymnot found")

# 7. Delete a key-value pair
key_to_delete = input("Enter the key to delete: ")
if key_to_delete in my_dict:
	my_dict.pop(key_to_delete)
	print("Deleted",end="\n")
else:
	print("Key not found")



# 8. Display the updated dictionary
print("Updated Dictionary:", my_dict)

Practical 2
Lab Assignment2

In [ ]:
user_input=list(map(int,input().split()))
user_input2=int(input())
if user_input2 in user_input:
	print(user_input.index(user_input2))
else:
	print("Not found")

In [ ]:
user_input=list(map(int,input().split()))
if len(user_input) == 11:
	print(max(user_input))
else:
	print("not enough players")

Practical 3
Lab Assignment1

In [ ]:
import numpy as np

r,c=map(int,input().split())
array_elements=[]
for i in range(r):
	row_element=list(map(int,input().split()))
	array_elements.append(row_element)

aarr=np.array(array_elements)
print(aarr)
if r==0 and c==0:
	print('2')
	print("(0, 0)")
	print(aarr.size)
else:
	print(aarr.ndim)
	print(aarr.shape)
	print(aarr.size)

Practical 3
Lab Assignment2

In [ ]:
import numpy as np

# Input matrices
print("Enter Matrix A:")
matrix_a = np.array([list(map(int, input().split())) for i in range(3)])

print("Enter Matrix B:")
matrix_b = np.array([list(map(int, input().split())) for i in range(3)])


# Addition
print("Addition (A + B):")
print((matrix_a+matrix_b))
# Subtraction
print("Subtraction (A - B):")
print((matrix_a-matrix_b))
# Multiplication (element-wise)
print("Element-wise Multiplication (A * B):")
print((matrix_a*matrix_b))
# Matrix multiplication (dot product)
print("A dot B:")
print(np.dot(matrix_a,matrix_b))
# Transpose
print("Transpose of A:")
print(np.transpose(matrix_a))

In [ ]:
import numpy as np

# # Input matrices
# print("Enter Array1:")
# arr1 = np.array([list(map(int, input().split())) for i in range(3)])

# print("Enter Array2:")
# arr2 = np.array([list(map(int, input().split())) for i in range(3)])

# Input matrices
print("Enter Array1:")
arr1 = np.array([list(map(int, input().split())) for i in range(3)])

print("Enter Array2:")
arr2 = np.array([list(map(int, input().split())) for i in range(3)])

# Perform horizontal stacking (hstack)
print("Horizontal Stack:")
print(np.hstack((arr1,arr2)))

# Perform vertical stacking (vstack)
print("Vertical Stack:")
print(np.vstack((arr1,arr2)))

In [ ]:
import numpy as np

# Take user input for the start, stop, and step of the sequence
start = int(input())
stop = int(input())
step = int(input())

# Generate the sequence using np.arange()

print(np.arange(start,stop,step))

In [ ]:
import numpy as np

def array_operations(A, B):

	A = np.array(A)
	B = np.array(B)
	# Arithmetic Operations
	sum_result = A+B
	diff_result = A-B
	prod_result = A*B

	# Statistical Operations
	mean_A = np.mean(A)
	median_A = np.median(A)
	std_dev_A = np.std(A)

	# Bitwise Operations
	and_result = A & B
	or_result = A | B
	xor_result = A ^ B

    # Output results with one space between each element
	print("Element-wise Sum:", ' '.join(map(str, sum_result)))
	print("Element-wise Difference:", ' '.join(map(str, diff_result)))
	print("Element-wise Product:", ' '.join(map(str, prod_result)))

	print(f"Mean of A: {mean_A}")
	print(f"Median of A: {median_A}")
	print(f"Standard Deviation of A: {std_dev_A}")

	print("Bitwise AND:", ' '.join(map(str, and_result)))
	print("Bitwise OR:", ' '.join(map(str, or_result)))
	print("Bitwise XOR:", ' '.join(map(str, xor_result)))

A = list(map(int, input().split()))  # Elements of array A
B = list(map(int, input().split()))  # Elements of array B
array_operations(A, B)

In [ ]:
import numpy as np

inputlist = list(map(int,input().split(" ")))

# Original array
original_array = np.array(inputlist)

# Create a view
view_array =original_array.view()

# Create a copy
copy_array =original_array.copy()



# Modify the view
view_array[0] = 99
print("Original array after modifying view:", original_array)
print("View array:", view_array)

# Modify the copy
copy_array[1] = 88
print("Original array after modifying copy:", original_array)
print("Copy array:", copy_array)

In [ ]:
import numpy as np

# Input array from the user
array1 = np.array(list(map(int, input().split())))

# Searching
search_value = int(input("Value to search: "))
count_value = int(input("Value to count: "))
broadcast_value = int(input("Value to add: "))

# Find indices where value matches in array1
print(np.where(array1 == search_value)[0])
# Count occurrences in array1
print(np.count_nonzero(array1 == count_value))
# Broadcasting addition
print(array1 + broadcast_value)
# Sort the first array
print(np.sort(array1))

In [ ]:
import numpy as np

a = np.loadtxt("Sample.csv", delimiter=',', skiprows=1)

# 1. Print all student details

# 10. print average marks of each subject

print("All student Details:\n",a)

# 2. print total students
r,c = a.shape
print("Total Students:",r)

# 3. Print all student Roll numbers
print("All Student Roll Nos", a[:,0])

# 4. Print subject 1 marks
print("Subject 1 Marks", a[:,1])

# 5. print minimum marks of Subject 2
print("Min marks in Subject 2",np.min(a[:,2]))

# 6. print maximum marks of Subject 3
print("Max marks in Subject 3",np.max(a[:,3]))

# 7. Print All subject marks
print("All subject marks:", a[:, 1:])

# 8. print Total marks of students
print("Total Marks",np.sum(a[:, 1:],axis=1))

# 9. print average marks of each student
avg=np.mean(a[:, 1:], axis=1)
print(np.round(avg,1))

# 10. print average marks of each subject
print("Average Marks of each subject",np.mean(a[:,1:],axis=0))

# 11. print average marks of S1 and S2
print("Average Marks of S1 and S2",np.mean(a[:,1:3],axis=0))

# 12. print average marks of S1 and S3
print("Average Marks of S1 and S3",np.mean(a[:,[1,3]],axis=0))

# 13. print Roll number who got maximum marks in Subject 3
i=np.argmax(a[:,3])
print("Roll no who got maximum marks in Subject 3",a[i,0])

# 14. print Roll number who got minimum marks in Subject 2
mn=np.argmin(a[:,2])
print("Roll no who got minimum marks in Subject 2",a[mn,0])

# 15. print Roll number who got 24 marks in Subject 2
whr=np.where(a[:,2]==24)
print("Roll no who got 24 marks in Subject 2",a[whr,0])

# 16. print count of students who got marks in Subject 1 < 40
ct=np.count_nonzero(a[:,1]<40)
print("Count of students who got marks in Subject 1 < 40",ct)

# 17. print count of students who got marks in Subject 2 > 90
ct1=np.count_nonzero(a[:,2]>90)
print("Count of students who got marks in Subject 2 > 90:",ct1)

# 18. print count of students in each subject who got marks >= 90
print("Count of students in each subject who got marks >= 90:",np.count_nonzero(a[:,1:]>=90,axis=0))

# 19. print count of subjects in which each student got marks >= 90
print("Roll no:",a[:,0])
print("Count of subjects in which student got marks >= 90:",np.count_nonzero(a[:,1:]>=90,axis=1))

# 20. Print S1 marks in ascending order
srt=np.sort(a[:,1])
print(srt)


# 21. Print S1 marks >= 50 and <= 90
print(a[(a[:,1]>=50)& (a[:,1]<90)])
print(a)

# 22. Print the index position of marks 79
ip=np.where(a[:,1]==79)
print(ip)

Practical 4
Lab Assignment1

In [ ]:
import pandas as pd

# Take inputs from the user to create a list of numbers
numbers = list(map(int, input().split()))
# Create a Pandas series from the list of numbers
series1=pd.Series(numbers)
# Grouping by even and odd numbers and calculating the mean
even_odd=series1.groupby(series1%2==0)

grouped = even_odd.mean()

# Display the mean of even and odd numbers with labels
grouped.index = ['Even' if is_even else 'Odd' for is_even in grouped.index]
print("Mean of even and odd numbers:")
print(grouped)

In [ ]:
import pandas as pd

# Provided dictionary of lists
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

new_name = input("New name: ")
new_age = int(input("New age: "))
new_row={'Name':new_name,'Age':new_age}
df=pd.concat([df,pd.DataFrame([new_row])],ignore_index=True)
# Display the DataFrame after adding a new row
print("After adding a row:\n",df)

modify_index=int(input("Index of row to modify: "))
new_age_mod=int(input("New age: "))
df.loc[modify_index,"Age"] = new_age_mod

# Display the DataFrame after modifying a row
print("After modifying a row:")
print(df)

delete_index=int(input("Index of row to delete: "))
df=df.drop(delete_index).reset_index(drop=True)

# Display the DataFrame after deleting a row
print("After deleting a row:")
print(df)
gender_input=input("Enter genders separated by space: ")
genders=gender_input.split()
df["Gender"]=genders
# Adding a new column

print("After adding a new column:")
print(df)

# Modifying a column

df["Name"]=df["Name"].str.upper()
# Display the DataFrame after modifying a column
print("After modifying a column:")
print(df)
df=df.drop(columns=['Age'])
# Display the DataFrame after deleting a column
print("After deleting a column:")
print(df)

In [ ]:
import pandas as pd

# Read the text file into a DataFrame
file = input()
data = pd.read_csv(file, sep="\s+", header=None, names=["Name", "Age", "Grade"])
print("First five rows:")
print(data.head(5))
# write your code here..
age=round(data['Age'].mean(),2)
print("Average age:",age)
print("Students with a grade up to B")
df=pd.DataFrame(data)
a=df[df['Grade']<='B']
print(a)

Practical 4
Lab Assignment2

In [ ]:
import pandas as pd

# Prompt the user for the file name
file_name = input()

# Load the data
df = pd.read_csv(file_name)

df['Date']=pd.to_datetime(df['Date'])

df['Sale'] = df['Quantity'] * df['Price']

df['Month'] = df['Date'].dt.to_period('M')

monthly_sales = df.groupby('Month')['Sale'].sum()



# Find the month with the highest total sales
best_month = monthly_sales.idxmax()
highest_sales = monthly_sales.max()



print(f"Best month: {best_month}")
print(f"Total sales: ${highest_sales:.2f}")

In [ ]:
import pandas as pd

# Prompt the user for the file name
file_name = input()

# Load the data
df = pd.read_csv(file_name)

# Find the product with the highest total quantity sold
product_sales = df.groupby("Product")["Quantity"].sum()
best_product = product_sales.idxmax()
highest_quantity = product_sales.max()

# Display the result
print(f"Best selling product: {best_product}")
print(f"Total quantity sold: {highest_quantity}")

In [ ]:
import pandas as pd

# Prompt the user for the file name
file_name = input()

# Load the data
df = pd.read_csv(file_name)

# write the code..
city_sales = df.groupby("City")["Quantity"].sum()

# Find the city with the highest total quantity sold
best_city = city_sales.idxmax()

# Display the result
print(f"City sold the most products: {best_city}")

In [ ]:
import pandas as pd
from itertools import combinations
from collections import Counter

# Prompt user to input the file name
file_name = input()

# Read data from the specified CSV file
df = pd.read_csv(file_name)

# write the code


# Output the most frequent product pairs
date_groups = df.groupby('Date')['Product'].apply(list)

pair_counter = Counter()

for products in date_groups:
    unique_pairs = combinations(sorted(set(products)), 2)
    pair_counter.update(unique_pairs)

max_freq = max(pair_counter.values())

for pair, count in pair_counter.items():
    if count == max_freq:
       print(f"{pair[0]} and {pair[1]}: {count} times")

In [ ]:
import pandas as pd
import numpy as np

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# 1. Display the first 5 rows of the dataset
print(data.head())

#2. Display the last 5 rows of the dataset
print(data.tail())

#3. Get the shape of the dataset
print(data.shape)

#4. Get a summary of the dataset (info)

print(data.info())

#5. Get basic statistics of the dataset

print(data.describe())

#6. Check for missing values

print(data.isnull().sum())

#7. Fill missing values in the 'Age' column with the median age

median_age= data['Age'].median()

data['Age'].fillna(median_age, inplace=True)

#8. Fill missing values in the 'Embarked' column with the most frequent value

data["Embarked"].fillna(data["Embarked"].mode()[0],inplace=True)

#9. Drop the 'Cabin' column due to many missing values

data.drop('Cabin', axis=1, inplace=True)

#10. Create a new column'FamilySize' by adding 'SibSp' and 'Parch'

data['FamilySize']= data['SibSp']+ data['Parch']

In [ ]:
import pandas as pd
import numpy as np

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')
data['FamilySize'] = data['SibSp'] + data['Parch']

# 1. Create a new column â€˜IsAlone' (1 if alone, 0 otherwise)
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})

#3. One-hot encode the 'Embarked' column, dropping the first category data pd.get_dummies(data, columns= ['Embarked'], drop_first=True)
data = pd.get_dummies(data, columns= ['Embarked'], drop_first=True)
#4. Get the mean age of passengers mean_age data['Age'].mean()
mean_age = data['Age'].mean()
print(mean_age)

#5. Get the median fare of passengers median_fare = data['Fare'].median() print(median_fare)
median_fare = data['Fare'].median()
print(median_fare)
#6. Get the number of passengers by class

passengers_by_class = data['Pclass'].value_counts()
print(passengers_by_class)

#7. Get the number of passengers by gender

passengers_by_gender = data['Sex'].value_counts().sort_index()
print(passengers_by_gender)

#8. Get the number of passengers by survival status

passengers_by_survival = data['Survived'].value_counts().sort_index()
print(passengers_by_survival)

#9. Calculate the survival rate

survival_rate =data['Survived'].mean()
print(survival_rate)

#10. Calculate the survival rate by gender

survival_rate_by_gender =data.groupby('Sex')['Survived'].mean()
print(survival_rate_by_gender)

In [ ]:
import pandas as pd
import numpy as np

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')
data['FamilySize'] = data['SibSp'] + data['Parch']
data['IsAlone'] = np.where(data['FamilySize'] > 0, 0, 1)
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# 1. Calculate the survival rate by class
print(data.groupby('Pclass') ['Survived'].mean())

#2. Calculate the survival rate by embarked location (Embarked_S)

print(data.groupby('Embarked_S') ['Survived'].mean())

#3. Calculate the survival rate by family size

print(data.groupby('FamilySize') ['Survived'].mean())

#4. Calculate the survival rate by being alone

print(data.groupby('IsAlone') ['Survived'].mean())

#5. Get the average fare by class

print(data.groupby('Pclass') ['Fare'].mean())

#6. Get the average age by class

print(data.groupby('Pclass') ['Age'].mean())

#7. Get the average age by survival status

print(data.groupby('Survived') ['Age'].mean())

#8. Get the average fare by survival status

print(data.groupby('Survived') ['Fare'].mean())

#9. Get the number of survivors by class (sort by values descending)

print(data[data['Survived'] == 1] ['Pclass'].value_counts())

#10. Get the number of non-survivors by class (sort by values descending)

print(data[data['Survived'] == 0] ['Pclass'].value_counts())

In [ ]:
import pandas as pd
import numpy as np

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# 1. Get the number of survivors by gender

print(data[data['Survived'] ==1]['Sex'].value_counts())

#2. Number of non-survivors by gender

print(data[data['Survived'] == 0] ['Sex'].value_counts())

#3. Number of survivors by embarkation location 'S'

print(data[data['Survived'] == 1] ['Embarked_S'].value_counts())

#4. Number of non-survivors by embarkation location 'S'

print(data[data['Survived'] == 0] ['Embarked_S'].value_counts())

#5. Percentage of children (Age < 18) who survived

children = data[data['Age'] < 18]
print(children['Survived'].mean())

# 6. Percentage of adults (Age >= 18) who survived

adults = data[data['Age'] >= 18]
print(adults['Survived'].mean())

#7. Median age of survivors print(data[data['Survived'] == 1] ['Age'].median())
print(data[data['Survived'] == 1] ['Age'].median())

#8. Median age of non-survivors print(data[data['Survived'] == 0] ['Age'].median())
print(data[data['Survived'] == 0] ['Age'].median())

# 9. Median fare of survivors
print(data[data['Survived'] == 1] ['Fare'].median())

#10. Median fare of non-survivors
print(data[data['Survived'] == 0] ['Fare'].median())

Practical 5
Lab Assignment 1

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Data for Months and Temperature for three cities
data = {
    'Month': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    'City_A_Temperature': [5, 7, 10, 13, 17, 20, 22, 21, 18, 12, 8, 6],
    'City_B_Temperature': [2, 3, 5, 6, 10, 14, 16, 17, 12, 9, 5, 3],
    'City_C_Temperature': [3, 4, 6, 8, 9, 12, 15, 14, 10, 7, 4, 2]
}

# Write your code...

df=pd.DataFrame(data)
plt.stackplot(df['Month'],df['City_A_Temperature'],df['City_B_Temperature'],df['City_C_Temperature'])
plt.xlabel('Month')
plt.ylabel('Temperature')
plt.title('Temperature Variation')

plt.show()

Practical 5
Lab Assignment 2

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Histogram
plt.hist(data['Age'],bins=30,edgecolor='k')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Bar Plot for Survival Rate
survival_counts = data['Survived'].value_counts()
survival_counts.plot(kind='bar')
plt.title('Survival Count')
plt.xlabel('Survived')
plt.ylabel('Count')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Bar Plot for Survival by Gender
plt.figure()
data.groupby('Sex')['Survived'].value_counts().unstack().plot(kind='bar', stacked=True)
plt.title('Survival by Gender')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.legend(['Not Survived', 'Survived'])
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Bar Plot for Survival by Pclass
plt.figure()
data.groupby('Pclass')['Survived'].value_counts().unstack().plot(kind='bar', stacked=True)
plt.title('Survival by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Count')
plt.legend(['Not Survived', 'Survived'])
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Bar Plot for Survival by Embarked

plt.figure()
data.groupby('Embarked_Q')['Survived'].value_counts().unstack().plot(kind='bar', stacked=True)
plt.title('Survival by Embarked')
plt.xlabel('Embarked')
plt.ylabel('Count')
plt.legend(['Not Survived', 'Survived'])
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Box Plot for Age by Pclass
plt.figure()
data.boxplot(column='Age', by='Pclass')
plt.title('Age by Pclass')
plt.suptitle('')
plt.xlabel('Pclass')
plt.ylabel('Age')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Box Plot for Fare by Pclass
plt.figure()
data.boxplot(column='Fare', by='Pclass')
plt.title('Fare by Pclass')
plt.suptitle('')
plt.xlabel('Pclass')
plt.ylabel('Fare')
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the Titanic dataset
data = pd.read_csv('Titanic-Dataset.csv')

# Data Cleaning
data['Age'].fillna(data['Age'].median(), inplace=True)
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)
data.drop('Cabin', axis=1, inplace=True)

# Convert categorical features to numeric
data['Sex'] = data['Sex'].map({'male': 0, 'female': 1})
data = pd.get_dummies(data, columns=['Embarked'], drop_first=True)

# Write your code here for Box Plot for Fare by Pclass
plt.figure()
plt.scatter(data['Age'], data['Fare'])
plt.title('Age vs. Fare')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.show()